body{
    margin:0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button{
    width: 120px;
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border: none;
}